.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.visited{
    background-color: lightblue;
    border: 2px solid yellow;
    border-radius: 20px;
}
.flag-container img{
    width: 100px;
}